$olive-drab: #638223;
$sushi: #7ea82c;
$rosered: #ef498a;
$darkpink: #ea4c89;
$rosered-deep1: #d5447d;
$rosered-deep2: #c13d70;
$turquoise: #4acccc;
$red: red;
$black: #000000;
$white: #ffffff;
$maroon: #c32361;
$malibu: #4ec3f9;
$light-sky-blue: #85d5fa;
$medium-turquoise: #4acccc;
$tiffany-blue: #00b5ad;
$light-sea-green: #30a5a4;
$aliceblue: #f0f8ff;
$alertFailure: #D80440;
$alertTip: #1475c3;
$alertSuccess: #69a74e;
$alertNormal: #DF3385;

@mixin clearfix{
    *zoom: 1;
    &:before{
        display: table;
        line-height: 0;
        content: "";
    }
    &:after{
        display: table;
        line-height: 0;
        content: " ";
        clear: both;
    }
}

@mixin transition($time){
    -webkit-transition: $time ease all;
    -moz-transition: $time ease all;
    -o-transition: $time ease all;
    -ms-transition: $time ease all;
    transition: $time ease all;
}

@mixin rotate($angel){
    -webkit-transform: rotate($angel);
    -o-transform: rotate($angel);
    -moz-transform: rotate($angel);
    -ms-transform: rotate($angel);
    transform: rotate($angel);
}

@mixin box-shadow($a, $b, $c, $d, $color){
    -webkit-box-shadow: $a $b $c $d $color;
    -o-box-shadow: $a $b $c $d $color;
    -moz-box-shadow: $a $b $c $d $color;
    -ms-box-shadow: $a $b $c $d $color;
    box-shadow: $a $b $c $d $color;
}

@mixin filter-blur($degree){
    -webkit-filter: blur($degree);
    -moz-filter: blur($degree);
    filter: blur($degree);
}

@mixin gradient-skew($dire1, $dire2, $color1, $color2){
    background-image:-ms-linear-gradient(to $dire1 $dire2, $color1, $color2);
    background-image:-moz-linear-gradient(to $dire1 $dire2, $color1, $color2);
    background-image:-webkit-linear-gradient(to $dire1 $dire2, $color1, $color2);
    background-image:-o-linear-gradient(to $dire1 $dire2, $color1, $color2);
    background-image:linear-gradient(to $dire1 $dire2, $color1, $color2);
}
