@import 'common';

.modal-overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.modal{
    display: none;
    position: fixed;
    padding: 15px;
    width: 400px;
    height: 300px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    *zoom: 1;
    z-index: 2000;
    @include gradient-skew(top, left, $maroon, $darkpink);
    &.show{
        display: block;
        &~.main-container{
            @include transition(1.0s);
            @include filter-blur(3px);
        }
    }
    .modal-content{
        margin-top: 50px;
    }
    .modal-close{
        font-size: 1.2em;
        cursor: pointer;
        float: right;
        color: #ffffff;
        margin: 0 -7px 0 0;
        @include transition(0.5s);
        &:hover{
            @include rotate(180deg);
        }
    }
}
