@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/componentNavbar\.scss}line{font-family:\000031}}
#navbar {
  z-index: 1000;
  position: fixed;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0px;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/componentNavbar\.scss}line{font-family:\0000312}}
.user-profile.item.hide {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/componentNavbar\.scss}line{font-family:\0000317}}
.sign-up.item.hide {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/componentNavbar\.scss}line{font-family:\0000322}}
.sign-in.item.hide {
  display: none;
}
