@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/componentAlert\.scss}line{font-family:\000033}}
.alert {
  height: 40px;
  width: 100%;
  background-color: #a0a0a0;
  position: fixed;
  bottom: 0px;
  right: 0px;
  text-align: center;
  opacity: 0.8;
  line-height: 43px;
  font-size: 0.5em;
  color: #fff;
  z-index: 3000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/componentAlert\.scss}line{font-family:\0000317}}
.alert .alert-close {
  float: right;
  font-size: 16px;
  margin: 12px 12px 0 0;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease all;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/componentAlert\.scss}line{font-family:\0000324}}
.alert .alert-close:hover {
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/componentAlert\.scss}line{font-family:\0000329}}
.alert.failure {
  background-color: #d80440;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/componentAlert\.scss}line{font-family:\0000332}}
.alert.tip {
  background-color: #1475c3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/componentAlert\.scss}line{font-family:\0000335}}
.alert.success {
  background-color: #69a74e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/componentAlert\.scss}line{font-family:\0000338}}
.alert.normal {
  background-color: #df3385;
}
