@import 'common';

.container.index{
    padding: 40px 0 0;
}
#welcome-banner{
    height: 270px;
    width: 100%;
    padding-top: 130px;
    background: #ffffff url('../images/banner2.jpg') no-repeat center center;
}
h1.banner-title{
    margin: 0;
    font-size: 120px;
    text-align: center;
    color: $aliceblue;
}
h5.banner-subtitle{
    margin: 30px 0 0;
    font-size: 20px;
    text-align: center;
    color: $aliceblue;
}

.ui.menu{
    .cart{
        &.item{
            padding: 0.5em 0.95em;
            label{
                cursor: pointer;
            }
        }
    }
}
