@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleLogin\.scss}line{font-family:\000033}}
#loginModal {
  width: 400px;
  height: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleLogin\.scss}line{font-family:\000038}}
.form.loginForm .field-user {
  margin-top: 70px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleLogin\.scss}line{font-family:\0000311}}
.form.loginForm .field-remember-me {
  margin-top: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleLogin\.scss}line{font-family:\0000314}}
.form.loginForm .field-remember-me .checkbox label {
  color: white;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleLogin\.scss}line{font-family:\0000319}}
.form.loginForm .field-remember-me .remember-me-answer {
  color: white;
  margin-left: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleLogin\.scss}line{font-family:\0000324}}
.form.loginForm .field-login-btn {
  margin-top: 30px;
}
