@import 'common';

#loginModal{
    width: 400px;
    height: 300px;
}
.form.loginForm{
    .field-user{
        margin-top: 70px;
    }
    .field-remember-me{
        margin-top: 50px;
        .checkbox{
            label{
                color: $white;
                display: inline;
            }
        }
        .remember-me-answer{
            color: $white;
            margin-left: 40px;
        }
    }
    .field-login-btn{
        margin-top: 30px;
    }




    // label{
    //     color: #ffffff;
    //     text-align: center;
    //     i{
    //         width: 32px;
    //         vertical-align: bottom;
    //     }
    // }
    // input[type="text"], input[type="password"]{
    //     width: 250px;
    //     outline: none;
    //     margin-top: 10px;
    //     height: 35px;
    //     line-height: 35px;
    //     font-size: 0.7em;
    //     background-color: rgba(0,0,0,0);
    //     color: #ffffff;
    //     border: none;
    //     border-bottom: 1px solid;
    // }
    // button{
    //     background-color: $sushi;
    //     padding: 0;
    //     border: 0;
    //     width: 100%;
    //     color: #ffffff;
    //     height: 40px;
    //     margin-top: 70px;
    //     cursor: pointer;
    //     outline: none;
    //     -moz-transition: all 0.3s ease;
    //     -ms-transition: all 0.3s ease;
    //     -o-transition: all 0.3s ease;
    //     -webkit-transition: all 0.3s ease;
    //     transition: all 0.3s ease;
    //     &:hover{
    //         background-color: $olive-drab;
    //     }
    // }
}
