@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleMyfont\.scss}line{font-family:\000033}}
.container.myfont .font_name {
  display: inline-block;
  width: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleMyfont\.scss}line{font-family:\000037}}
.container.myfont .font_author {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleMyfont\.scss}line{font-family:\0000310}}
.container.myfont .example-label {
  padding: 0 0.8em;
  line-height: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleMyfont\.scss}line{font-family:\0000314}}
.container.myfont .generate-content {
  margin: 40px 0 10px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleMyfont\.scss}line{font-family:\0000317}}
.container.myfont .generate-content .generate-code-btn {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleMyfont\.scss}line{font-family:\0000321}}
.container.myfont #code-editor {
  height: 300px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleMyfont\.scss}line{font-family:\0000324}}
.container.myfont .step5-content {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleMyfont\.scss}line{font-family:\0000326}}
.container.myfont .step5-content .ui.one.items {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleMyfont\.scss}line{font-family:\0000328}}
.container.myfont .step5-content .ui.one.items .item {
  margin: 0;
}
