@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleCart\.scss}line{font-family:\000034}}
.cart-item-title .price {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleCart\.scss}line{font-family:\000036}}
.cart-item-title .price .cart-trash-btn {
  cursor: pointer;
  color: #d80440;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleCart\.scss}line{font-family:\0000313}}
.pay-content {
  margin-top: 100px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleCart\.scss}line{font-family:\0000316}}
.pay-content .pay-btn {
  cursor: pointer;
}
