@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleFontRepository\.scss}line{font-family:\000032}}
.font-repository .ui.label.purchased-label {
  padding: 0.8em 1.5em;
  margin: 0;
  line-height: 1;
  font-size: 1rem;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleFontRepository\.scss}line{font-family:\0000310}}
.font-repository .ui.button.out-of-chart-btn {
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleFontRepository\.scss}line{font-family:\0000313}}
.font-repository .ui.button.in-chart-btn {
  font-weight: normal;
}
