@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/abruzzi\/Public\/skinnyfont\/app\/styles\/moduleFontRep\.scss}line{font-family:\000032}}
.font-repository .ui.label.purchased-label {
  padding: 0.8em 1.5em;
  margin: 0;
}
