<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/Buttons/css/buttons.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="bower_components/semantic-ui/build/packaged/css/semantic.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="bower_components/textillate/assets/animate.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/componentAlert.css">
    <link rel="stylesheet" href="styles/componentModal.css">
    <link rel="stylesheet" href="styles/componentNavbar.css">
    <link rel="stylesheet" href="styles/moduleLogin.css">
    <link rel="stylesheet" href="styles/moduleIndex.css">
    <link rel="stylesheet" href="styles/moduleMyfont.css">
    <link rel="stylesheet" href="styles/moduleFontRepository.css">
    <link rel="stylesheet" href="styles/moduleCart.css">
    <!-- endbuild -->
  </head>
  <body ng-app="skinnyFontApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--   alert   -->
    <div class="alert" style="display: none;">
        <span class="alert-words"></span>
        <i class="alert-close fa fa-times" alertclose></i>
    </div>

    <!--   modal   -->
    <div class="modal-overlay"></div>
    <div class="modal login" id="loginModal" modal ng-keypress="login($event.keyCode)">
      <div class="modal-header">
        <i class="icon remove modal-close"></i>
      </div>
      <div class="modal-content">
        <div class="ui form loginForm">
          <div class="two fields field-user">
            <div class="field">
              <label></label>
              <div class="ui left labeled icon input">
                <input placeholder="请输入用户名" type="text" ng-model="loginUsername">
                <i class="tasks icon"></i>
              </div>
            </div>
            <div class="field">
              <label></label>
              <div class="ui left labeled icon input">
                <input placeholder="请输入密码" type="password" ng-model="loginPassword">
                <i class="lock icon"></i>
                <div class="ui corner label">
                  <i class="icon asterisk"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="field field-remember-me">
            <div class="ui toggle checkbox" id="rememberMe">
              <input type="checkbox" name="rememberMe" ng-model="rememberMe">
              <label>记住我？</label>
              <span class="remember-me-answer">No</span>
            </div>
          </div>
          <div class="field field-login-btn">
            <div class="ui vertical animated teal button fluid" ng-click="login()">
              <div class="hidden content">登陆</div>
              <div class="visible content">
                <i class="upload disk icon large"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal signup" id="signUpModal" modal ng-keypress="signUp($event.keyCode)">
      <div class="modal-header">
        <i class="icon remove modal-close"></i>
      </div>
      <div class="modal-content">
        <div class="ui form signUpForm">
          <div class="field">
            <label></label>
            <div class="ui left labeled icon input">
              <input placeholder="请输入用户名" type="text" ng-model="signUpUsername">
              <i class="tasks icon"></i>
              <div class="ui corner label">
                <i class="icon asterisk"></i>
              </div>
            </div>
          </div>
          <div class="field">
            <label></label>
            <div class="ui left labeled icon input">
              <input placeholder="请输入密码" type="password" ng-model="signUpPassword">
              <i class="lock icon"></i>
              <div class="ui corner label">
                <i class="icon asterisk"></i>
              </div>
            </div>
          </div>
          <div class="field field-login-btn">
            <div class="ui vertical animated teal button fluid" ng-click="signUp()">
              <div class="hidden content">注册</div>
              <div class="visible content">
                <i class="upload disk icon large"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-container" containerwidthauto>
      <div class="main-layout" ng-view=""></div>

      <div class="ui teal inverted menu" id="navbar">
        <a class="active item" href="#" changemenuitem ng-class="{active: $location.path() === '/'}">
          <i class="home icon"></i> Skinnyfont
        </a>
        <a class="item" href="#/font/repository" ng-show="isLogin" changemenuitem ng-class="{active: $location.path() === '/font/repository'}">
          <i class="font icon"></i> 字库
        </a>
        <a class="item">
          <i class="chat icon"></i> 问答
        </a>
        <a class="item" href="#/pricing"changemenuitem ng-class="{active: $location.path() === '/pricing'}">
          <i class="money icon"></i> 资费
        </a>
        <div class="right menu">
          <div class="ui dropdown item user-profile" ng-show="isLogin" ng-click="showUserProfileMenu()">
            {{currentUser.mail}} <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="#/user/profile">账户信息</a>
              <a class="item" href="#/font/myfont">我的字体</a>
              <a class="item" ng-click="logout()">登出</a>
            </div>
          </div>
          <a class="item cart" href="#/cart" ng-show="isLogin">
            <i class="cart icon"></i>
            <label class="ui red circular label" ng-show="cartCounts > 0">
              {{cartCounts}}
            </label>
          </a>
          <div class="item sign-in" ng-hide="isLogin">
              <div class="ui teal button" ng-click="loginMenu()">sign in</div>
          </div>
          <div class="item sign-up" ng-hide="isLogin">
              <div class="ui teal button" ng-click="signUpMenu()">sign up</div>
          </div>
        </div>
      </div>
    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-uuid4/angular-uuid4.js"></script>
    <script src="bower_components/jquery.easing/js/jquery.easing.min.js"></script>
    <script src="bower_components/angular-md5/angular-md5.js"></script>
    <script src="bower_components/angular-classy/angular-classy.js"></script>
    <script src="bower_components/jquery-pin/jquery.pin.js"></script>
    <!-- endbower -->
    <script src="bower_components/semantic-ui/build/packaged/javascript/semantic.js"></script>
    <script src="bower_components/textillate/assets/jquery.fittext.js"></script>
    <script src="bower_components/textillate/assets/jquery.lettering.js"></script>
    <script src="bower_components/textillate/jquery.textillate.js"></script>
    <script src="bower_components/ace-builds/src-noconflict/ace.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/directives/directives.js"></script>
        <script src="scripts/services/settings.js"></script>
        <script src="scripts/services/services.js"></script>
        <script src="scripts/filters/filter.js"></script>
        <script src="scripts/controllers/fontReposCtrl.js"></script>
        <script src="scripts/controllers/userProfileCtrl.js"></script>
        <script src="scripts/controllers/myFontCtrl.js"></script>
        <script src="scripts/controllers/cartCtrl.js"></script>
        <script src="scripts/controllers/pricingCtrl.js"></script>
        <!-- endbuild -->
</body>
</html>
