<div class="container cart">
  <div class="ui ignored warning message" ng-if="fontsInCart === undefiend || fontsInCart.length < 1">
    <h1>购物清单里还没有字体</h1>
  </div>

  <div class="ui cart-accordion accordion fluid" ng-if="fontsInCart === undefiend || fontsInCart.length > 0">
    <div class="title cart-item-title" ng-repeat-start="font in fontsInCart">
      <i class="dropdown icon"></i>
      {{font.font_name}}
      <span class="price">
        {{font.font_price | price}}
        <i class="trash icon cart-trash-btn" ng-click="removeFontFromCart(font)"></i>
      </span>
    </div>
    <div class="content" ng-repeat-end>
      <p>作者:  {{font.font_author}}</p>
    </div>
  </div>

  <div class="pay-content">
    <a class="gt-button glow button-circle button-flat-primary pay-btn" ng-if="fontsInCart === undefiend || fontsInCart.length > 0" ng-click="pay()">
      支付{{paySum | price}}
    </a>
    <a href="#/font/repository" class="gt-button glow button-circle button-flat-primary pay-btn" ng-if="fontsInCart === undefiend || fontsInCart.length < 1">
      去字体仓库
    </a>
  </div>
</div>
