<div class="container font-repository">
  <div class="ui ignored warning message">
    <h1>目前Skinny Font仅支持以下授权字体：</h1>
  </div>


  <div class="five column doubling ui grid">
    <div class="column" ng-repeat="font in finalFontList">
      <div class="ui segment">
        <div class="ui left corner label">
          <div class="text">{{font.font_price | price}}</div>
        </div>
        <a class="ui right red corner label" ng-show="font.is_popular === 1">
          <i class="heart icon"></i>
        </a>
        <h1>{{font.font_name}}</h1>
        <div class="ui divider"></div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        <a class="ui teal button fluid out-of-chart-btn" ng-click="addFontToCart($index)" ng-show="font.status === 'outOfCart'">
          <i class="cart icon"></i>
          加入购买清单
        </a>
        <a class="ui button fluid in-chart-btn" ng-click="removeFontFromCart($index)" ng-show="font.status === 'inCart'">
          <i class="reply mail icon"></i>
          移出购物清单
        </a>
        <label class="ui blue label fluid purchased-label" ng-show="font.status === 'purchased'">
          <i class="checkmark icon"></i>
          已购买
        </label>
      </div>
    </div>
  </div>
</div>
