<div class="container myfont">

  <div class="ui piled segment step-all">
    <div class="ui ribbon teal label">第一步：选取你想要在自己网站使用的字体（多选）</div>

    <div class="ui ignored warning message" ng-if="userFontList === undefiend || userFontList.length < 1">
      <h1>
        你还没有任何字体，前去
        <a class="ui blue button" href="#font/repository">
          字体仓库
        </a>
        选购
      </h1>
    </div>

    <div class="ui attached segment" ng-class="{top: $first === true, bottom: $last === true}" ng-repeat="font in userFontList">
      <span class="font_name">{{font.font_name}}</span>
      <div class="ui slider checkbox">
        <input name="font" type="checkbox">
        <div class="ui slider checkbox fong-checkbox" font-check data-font-id="{{font.id}}", data-font-name="{{font.font_name}}" data-font-en-name="{{font.font_en_name}}" data-font-default-config="{{font.defaultConfig}}" data-font-custom-class="{{font.customClass}}" ng-click="$event.stopPropagation()">
          <input name="myFont" class="my-font" type="checkbox">
          <label class="font-check-label">该字体未被选择</label>
        </div>
      </div>
      <span class="font_author">作者:  {{font.font_author}}</span>
    </div>
  </div>


  <div class="ui piled segment step-all">
    <div class="ui ribbon teal label">第二步：输入你想要在自己网站使用的自定义CSS类名（与字体映射）</div>

    <div class="ui ignored warning message" ng-if="chooseFontList === undefiend || chooseFontList.length < 1">
      <h1>请先选择网站将要使用的字体</h1>
    </div>

    <div class="ui form segment" ng-if="chooseFontList === undefiend || chooseFontList.length > 0">
      <div class="field" ng-repeat="font in chooseFontList">
        <div class="two fields">
          <div class="field">
            <label>字体名</label>
            <input placeholder="First Name" disabled="disabled" type="text" ng-model="font.name">
          </div>
          <div class="field">
            <label>
              自定义CSS类(class)名
              <a class="ui blue label example-label">例: sindy-font, chalk-font</a>
              <a class="ui red label example-label">注意: 请勿重名</a>
            </label>
            <input placeholder="自定义CSS类名" type="text" ng-model="font.class">
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="ui piled segment step-all">
    <div class="ui ribbon teal label">第三步：输入你的网站信息</div>

    <div class="ui ignored warning message" ng-if="chooseFontList === undefiend || chooseFontList.length < 1">
      <h1>请先选择网站将要使用的字体</h1>
    </div>

    <div class="ui form segment" ng-if="chooseFontList === undefiend || chooseFontList.length > 0">
      <div class="field">
        <label>
          网站域名
          <a class="ui blue label example-label">例: github.io</a>
        </label>
        <div class="ui left labeled icon input">
          <input placeholder="请输入你的网站域名" type="text" ng-model="userPost.host">
          <i class="globe icon"></i>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="ui piled segment step-all">
    <div class="ui ribbon teal label">第四步：生成并粘贴下面的代码到你的网站&lt/body>标签之前</div>

    <div class="ui ignored warning message" ng-if="chooseFontList === undefiend || chooseFontList.length < 1">
      <h1>请先选择网站将要使用的字体</h1>
    </div>

    <div class="generate-content" ng-if="chooseFontList === undefiend || chooseFontList.length > 0">
      <a class="ui blue button fluid" ng-click="generateFont()">
        生成JS代码
      </a>
    </div>
    <div id="code-editor" ng-if="chooseFontList === undefiend || chooseFontList.length > 0">
    </div>
  </div>

  <div class="ui piled segment step-all">
    <div class="ui ribbon teal label">第五步：在你的网站中使用自定义css类</div>

    <div class="ui ignored warning message" ng-if="chooseFontList === undefiend || chooseFontList.length < 1">
      <h1>请先选择网站将要使用的字体</h1>
    </div>

    <div class="step5-content" ng-if="chooseFontList === undefiend || chooseFontList.length > 0">
      <div class="ui one items">
        <div class="item">
          <div class="image">
            <img src="../images/step5.png">
          </div>
          <div class="content">
            <div class="name">将你刚刚声明的class类在自己的网站中使用，对应class下的文字将会被服务处理</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
