<div class="container index">
  <div id="welcome-banner">
    <h1 class="banner-title" tlt>Skinny Font</h1>
    <h5 class="banner-subtitle">用自定义字体构建你的中文网页</h5>
  </div>

  <h2 class="ui center aligned icon header">
    <i class="circular emphasized users icon"></i>
    <div class="content">Growing Every Day
      <div class="sub header">字体持续更新</div>
    </div>
  </h2>
  <div class="ui horizontal divider">
    <i class="circular heart icon"></i>
  </div>
</div>
